@import "../../../utilities/variables.scss";

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, $white, $light-blue);

  > button {
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    margin-right: 10px;
    cursor: pointer;

    svg {
      width: 100%;
    }
  }

  > p {
    margin: 20px;
    display: flex;
    align-items: center;

    input {
      width: auto;
      height: 40px;
      box-sizing: border-box;
      font-size: 20px;
    }

    button {
      width: auto;
      height: 40px;
      font-size: 18px;
      padding: 0;
      cursor: pointer;
    }
  }

  .searchCityCountry {
    margin-top: 0;
    flex-basis: 100%;
  }
}

.search-enter,
.search-appear {
  opacity: 0;
  max-height: 60px;
  background-image: linear-gradient(to right, $light-blue, $white);
}
.search-enter-active,
.search-appear-active {
  opacity: 1;
  max-height: 180px;
  background-image: linear-gradient(to right, $white, $light-blue);
  transition: opacity 500ms, max-height 500ms, background-image 500ms;
}

.search-enter-done {
  opacity: 1;
  max-height: 180px;
  background-image: linear-gradient(to right, $white, $light-blue);
}

.search-exit {
  opacity: 1;
  max-height: 180px;
}
.search-exit-active {
  opacity: 0;
  max-height: 60px;
  transition: opacity 500ms, max-height 500ms;
}

.search-exit-done {
  opacity: 0;
  max-height: 60px;
}

.searchCityCountry-enter,
.searchCityCountry-appear {
  opacity: 0;
}
.searchCityCountry-enter-active,
.searchCityCountry-appear-active {
  opacity: 1;
  transition: opacity 500ms;
}
.searchCityCountry-exit {
  opacity: 1;
}
.searchCityCountry-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.searchCityCountry-exit-done {
  opacity: 0;
}

.textInput-enter,
.textInput-appear {
  color: rgb(86, 28, 163);
}
.textInput-enter-active,
.textInput-appear-active {
  color: $light-blue;
  transition: color 500ms;
}

.textInput-enter-done {
  color: $light-blue;
}

.textInput-exit {
  color: $light-blue;
}
.textInput-exit-active {
  color: rgb(86, 28, 163);
  transition: color 500ms;
}

.textInput-exit-done {
  color: rgb(86, 28, 163);
}
