$light-blue: rgb(123, 193, 253);
$blue-gray: rgb(88, 144, 192);
$blue: rgb(30, 114, 186);
$blue-dark: rgb(6, 47, 83);
$white: white;
$white-gray: rgb(208, 208, 208);
$aliceblue-opacity: rgba(240, 248, 255, 0.6);
$red: rgb(234, 75, 75);
