@import "../../../utilities/variables.scss";

.forecastView_inDetails {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;

  li {
    min-width: 150px;
    text-align: center;
    color: $blue-dark;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .temperature {
    font-size: 20px;
    font-weight: 500;
    color: $blue-dark;
  }

  .time {
    color: $blue;
  }
}

.forecastView_inDetails_Names {
  min-width: fit-content;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, $white, $light-blue);
  list-style-type: none;
  padding-left: 0;

  li {
    min-width: 150px;
    text-align: center;
    font-weight: 500;
  }
}
