@import "../../../utilities/variables.scss";

.forecastView_inDetails {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;

  li {
    min-width: 150px;
    text-align: center;
    color: $blue-dark;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .temperature {
    font-size: 20px;
    font-weight: 500;
    color: $blue-dark;
  }

  .time {
    color: $blue;
  }
}

.forecastView_inDetails_Names {
  min-width: fit-content;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, $white, $light-blue);
  list-style-type: none;
  padding-left: 0;

  li {
    min-width: 150px;
    text-align: center;
    font-weight: 500;
  }

  li.names_from_database {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;

      li {
        min-width: 150px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

//transition

.additionInfo-enter,
.additionInfo-appear,
.temperatureInfo-enter,
.temperatureInfo-appear {
  opacity: 0;
}
.additionInfo-enter-active,
.additionInfo-appear-active,
.temperatureInfo-enter-active,
.temperatureInfo-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.additionInfo-enter-done,
.temperatureInfo-enter-done {
  opacity: 1;
}

.additionInfo-exit,
.temperatureInfo-exit {
  opacity: 1;
}

.additionInfo-exit-active,
.temperatureInfo-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.additionInfo-exit-done,
.temperatureInfo-exit-done {
  opacity: 0;
}
