@import "../../utilities/variables.scss";

// @keyframes loardingWeather {
//   from {
//     opacity: 0;
//     transform: scaleY(0);
//   }
//   to {
//     opacity: 1;
//     transform: scaleY(1);
//   }
// }

.forecastView {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .forecastView_oneDay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $light-blue, $white);
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;

    button {
      background: none;
      border: 0;
      cursor: pointer;
      vertical-align: middle;

      i {
        vertical-align: middle;
      }

      span {
        padding-left: 30px;
        font-size: 18px;
        color: $blue-dark;
        font-weight: 500;
      }
    }

    p {
      width: 200px;
      text-align: right;

      span:first-child {
        font-size: 20px;
        font-weight: 700;
        color: $blue-dark;
      }

      span:last-child {
        font-size: 14px;
        font-weight: 500;
        color: $blue;
      }
    }

    .forecastView_inDetails {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;

      p {
        width: 150px;
        text-align: left;
        color: $blue-dark;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .temperature {
        font-size: 20px;
        font-weight: 500;
        color: $blue-dark;
      }

      .time {
        color: $blue;
      }
    }

    .forecastView_inDetails_Names {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      background-image: linear-gradient(to right, $white, $light-blue);

      p {
        width: 150px;
        text-align: left;
        font-weight: 500;
      }
    }
  }
}

.forecastView-enter,
.forecastView-appear {
  opacity: 0;
}
.forecastView-enter-active,
.forecastView-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}

.forecastView-enter-done {
  opacity: 1;
}

.forecastView-exit {
  opacity: 1;
}
.forecastView-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.forecastView-exit-done {
  opacity: 0;
}
