@import "../../utilities/variables.scss";

.forecastView {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-right: 40px;
  padding-bottom: 50px;
  margin-bottom: 0;

  > li {
    box-shadow: 4px 1px 10px $blue;
  }

  .forecastView_oneDay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, $light-blue, $white);
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
    overflow-y: hidden;

    button {
      background: none;
      border: 0;
      cursor: pointer;
      vertical-align: middle;

      i {
        vertical-align: middle;
      }

      span {
        padding-left: 30px;
        font-size: 18px;
        color: $blue-dark;
        font-weight: 500;
      }
    }

    p {
      width: 200px;
      text-align: right;

      span:first-child {
        font-size: 20px;
        font-weight: 700;
        color: $blue-dark;
      }

      span:last-child {
        font-size: 14px;
        font-weight: 500;
        color: $blue;
      }
    }
  }

  .forecastView_inDetails_block {
    overflow-x: auto;
  }
}

.forecastView-enter,
.forecastView-appear {
  opacity: 0;
}
.forecastView-enter-active,
.forecastView-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}

.forecastView-enter-done {
  opacity: 1;
}

.forecastView-exit {
  opacity: 1;
}
.forecastView-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.forecastView-exit-done {
  opacity: 0;
}
//weatherDetailed
.forecastView_inDetails_block-enter,
.forecastView_inDetails_block-appear {
  opacity: 0;
  max-height: 0;
}
.forecastView_inDetails_block-enter-active,
.forecastView_inDetails_block-appear-active {
  opacity: 1;
  max-height: 1000px;
  transition: opacity 2000ms ease-in-out, max-height 2000ms;
}

.forecastView_inDetails_block-enter-done {
  opacity: 1;
  max-height: 1000px;
}

.forecastView_inDetails_block-exit {
  opacity: 1;
  max-height: 1000px;
}
.forecastView_inDetails_block-exit-active {
  opacity: 0;
  flex-basis: 100%;
  max-height: 0;
  transition: opacity 2000ms ease-in-out, max-height 2000ms;
}

.forecastView_inDetails_block-exit-done {
  opacity: 0;
  max-height: 0;
  flex-basis: 100%;
}
