.weatherToday {
  height: 400px;

  p {
    margin: 0;
  }
}

.winter {
  background-image: url(../../images/jpg/winter.jpg);
}

.autumn {
  background-image: url(../../images/jpg/autumn.jpg);
}

.summer {
  background-image: url(../../images/jpg/summer.jpg);
}

.spring {
  background-image: url(../../images/jpg/spring.jpg);
}
