.burgerMenu {
  background: none;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 10px;
  // animation: loarding;
  // animation-duration: 0.5s;
  // animation-timing-function: linear;
  // animation-direction: normal;

  svg {
    width: 100%;
    height: auto;
  }
}

.enter,
.appear {
  opacity: 0;
}
.enter-active,
.appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.exit {
  opacity: 1;
}
.exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
