@import "../../../utilities/variables.scss";

.burgerMenu {
  background-image: linear-gradient(to right, $light-blue, $white);

  button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 10px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.burgerMenu-enter,
.burgerMenu-appear {
  opacity: 0;
}
.burgerMenu-enter-active,
.burgerMenu-appear-active {
  opacity: 1;
  transition: opacity 500ms;
}

.burgerMenu-appear-done,
.burgerMenu-enter-done {
  opacity: 1;
}

.burgerMenu-exit {
  opacity: 1;
}

.burgerMenu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.burgerMenu-exit-done {
  opacity: 0;
}
